.info-bar{
    display: flex;
    justify-content: space-between;
    padding: 0 5px 10px 5px;
}
.info-bar__time{
    font-size: 15px;
    font-weight: 900;
}
.info-bar__icons img{
    width: 15px;
}

.menu-bar{
    display: flex;
    justify-content: space-between;
    padding: 0 7px 0 7px;
}
.menu-bar__town{
    font-size: 20px;
    font-weight: 900;
    display: flex;
}
.menu-bar__town__icon{
    justify-content: center;
    align-items: center;
}
.menu-bar__town__icon img{
    width: 25px;
}
.menu-bar__icons{
    width: 20px;
    justify-content: end;
}