
    justify-content: space-between;
    align-items: center;
    padding: 0 7px 0 7px;
}
/* menu-bar__town */
.menu-bar__town{
    font-size: 25px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar__town__icon {
    display: flex;
    width: 25px;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
/* menu-bar__icons */
.menu-bar__icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-bar__icons img{
    width: 25px;
    margin-left: 10px;
}