footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eaeaea ;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 10px;
    cursor: pointer;
    background-color: white;
}

.footer-element{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin: auto;
}
.footer-ele-icon{
    display: flex;
    transform: scale(0.8);
    
}
.footer-ele-icon img{
    width: 40px;
    margin: auto;
}

/* animation for icon */
.footer-icons:hover .footer-ele-icon{
    animation: 2s floating-icon;
}


@keyframes floating-icon{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}


.footer-ele-name{
    display:flex;
    padding-top: 10px;
    font-size: 13px;
    font-weight: 500;
}